aiofiles
aiohttp
aiosignal
alabaster
annotated-types
anyio
arrow
async-timeout
asyncio
attrs
Babel
backoff
beautifulsoup4
bibtexparser
blinker
blis
bs4
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
datasets
Deprecated
dill
distro
dnspython
docutils
email_validator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
evaluate
factool
fake-useragent
fastapi
fastapi-cli
ffmpy
filelock
Flask
fonttools
free-proxy
frozenlist
fsspec
gradio
gradio_client
h11
httpcore
httptools
httpx
huggingface-hub
idna
imagesize
importlib_resources
itsdangerous
Jinja2
joblib
jsonlines
kiwisolver
langcodes
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
murmurhash
networkx
nltk
numpy
openai
orjson
outcome
packaging
pandas
pillow
preshed
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
rich
ruff
safetensors
scholarly
scikit-learn
scipy
selenium
semantic-version
sentence-transformers
shellingham
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
srsly
starlette
sympy
thinc
threadpoolctl
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
typer
types-python-dateutil
typing_extensions
tzdata
urllib3
uvicorn
uvloop
wasabi
watchfiles
weasel
websocket-client
websockets
Werkzeug
wrapt
wsproto
xxhash
yarl
