backoff
datasets
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
evaluate
factool @ git+https://github.com/hasaniqbal777/factool
nltk
python-Levenshtein
seaborn
sentence-transformers
spacy
streamlit
streamlit-option-menu
torch
transformers